[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src", "handlers", "models"],
        filter => "*.erl",
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config,
        rules => [{elvis_project, no_deps_master_rebar,
                   #{ignore => [lager, folsom_cowboy, qdate]}},
                  {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
      },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 },
 {elvis_style, line_length, #{limit => 100}},
 {elvis_style, no_if_expression},
 {elvis_style, used_ignored_variable},
 {elvis_style, no_debug_call}
].
